<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8"> 
  <title>Juhan Klaassen</title>
  <script> src="first.js" </script>
</head>
<body>
<center><img src="/banner/vp_banner_2024.png" alt="veebiprogrammeerimise 2024 aasta kursuse banner"></center>
  <center><h1>Juhan Klaasseni veebileht</h1>
    <p> Minu nimi on Juhan Klaassen. Olen 20. aastane esmakursuslane Tallinna Ülikoolis. Oma kohta oskan õelda, et teen asju hetke tunde järgi. </p>
  <p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> ja ei sisalda tõsiselt võetavalt materjali!</p> </center>
 <hr>
 <ul>
	<li><a href="/">Avalehele</a></li>
 </ul>
 <hr>
 <h2>Lisa flmitegelane</h2>
 <form method="POST">
	<label for="firstNameInput">Sisesta tegelase eesnimi</label>
	<input type="text" id="firstNameInput" name="firstNameInput" placeholder="Eesnimi...">
	<br>
	<label for="lastNameInput">Sisesta tegelase Perekonnanimi</label>
	<input type="text" id="lastNameInput" name="lastNameInput" placeholder="Perekonnanimi...">
	<br>
	<label for="birthNameInput">Sisesta sünnikuupäev</label>
	<input type="date" id="birthDateInput" name="birthDateInput" placeholder="Sünnikuupäev...">
	<br>
	<input type="submit" name="personSubmit" value="Salvesta">
</form>
 <hr>
 <h2>Lisa film</h2>
 <form method="POST">
	<label for="Title">Sisesta filmi nimi</label>
	<input type="text" id="Title" name="Title" placeholder="Filmi nimi....">
	<br>
	<label for="productionYear">Sisesta filmi väljalaskekuupäev</label>
	<input type="date" id="productionYear" name="productionYear" placeholder="väljaaskekuupäev...">
	<br>
	<label for="duration">Sisesta filmi pikkus</label>
	<input type="number" id="duration" name="duration" placeholder="Filmi pikkus...">
	<br>
	<label for="description">Sisesta filmi kirjeldus</label>
	<input type="text" id="description" name="description" placeholder="Filmi kirjeldus...">
	<br>
	<input type="submit" name="filmSubmit" value="Salvesta">
</form>
 <hr>
 <h2>Lisa roll</h2>
 <form method="POST">
	<label for="positionName">Sisesta rolli nimi</label>
	<input type="text" id="positionName" name="positionName" placeholder="Rolli nimi...">
	<br>
	<label for="positionDescription">Sisesta rolli kirjeldus </label>
	<input type="text" id="" name="positionDescription" placeholder="Rolli kirjeldus...">
	<br>
	<input type="submit" name="roleSubmit" value="Salvesta"> </form>
</body>
</html>

