<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8"> 
  <title>Juhan Klaassen</title>
  <script> src="first.js" </script>
</head>
<body>
<center><img src="/banner/vp_banner_2024.png" alt="veebiprogrammeerimise 2024 aasta kursuse banner"></center>
  <center><h1>Juhan Klaasseni veebileht</h1>
    <p> Minu nimi on Juhan Klaassen. Olen 20. aastane esmakursuslane Tallinna Ülikoolis. Oma kohta oskan õelda, et teen asju hetke tunde järgi. </p>
  <p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> ja ei sisalda tõsiselt võetavalt materjali!</p> 
 </center>
 <hr>
<h2>KASUTAJAVEEB</h2>
 <ul>
 <li><a href="/logout">Logi välja!</a></li>
 <li><a href="/news">UUDISED!!!!!1!1</a></li>
 <li><a href="/eestifilm">Eesti filmi andmebaas</a></li>
 <li><a href="/photoupload">Galeriifotode üleslaadimine</a></li>
 <li><a href="/photosgallery">Galerii</a></li>
 </ul>
 <hr>
</body>
</html>

