<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"> 
  <title>Juhan Klaassen</title>
  <link rel="stylesheet" href="/style/gallery.css">
  <link rel="stylesheet" href="/style/modal.css">
  <script src="/script/gallery.js" defer></script>
  <script src="first.js"></script>
</head>
<body>
<center><img src="/banner/vp_banner_2024.png" alt="veebiprogrammeerimise 2024 aasta kursuse banner"></center>
  <center><h1>Juhan Klaasseni veebileht</h1>
    <p>Minu nimi on Juhan Klaassen. Olen 20. aastane esmakursuslane Tallinna Ülikoolis. Oma kohta oskan öelda, et teen asju hetke tunde järgi.</p>
  <p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> ja ei sisalda tõsiselt võetavat materjali!</p> </center>
 <hr>
<p>UUDISED!! TÄHTIS!</p>
	<ul>
		<li><a href="/news/add">Uudise lisamine</a></li>
		<li><a href="/news/read">Uudiste lugemine</a></li>
		<li><a href="/home">Avalehele</a></li>
	</ul>
	<hr>
</body>
</html>